@import "tailwindcss";

@theme {
  --color-main: oklch(46.26% 0.1229 247.45);
  --color-secondary: oklch(58.17% 0.2729 300.23);
  --color-white: oklch(97.91% 0 0);
  --color-divider: oklch(32.11% 0 0);
  --shadow-button: 0 3px 8px rgba(0, 0, 0, 0.24);

  --breakpoint-lg: 72rem;
}
